WF/WCFIntegration/WCFIntegration.Clients/Service References/ExpenseService/ExpenseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExpenseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpContextBinding_IExpenseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <HttpUseCookie xmlns="http://schemas.xmlsoap.org/soap/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55278/ExpenseService.xamlx?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/WCFIntegration.DataContracts" />
      <xsd:import schemaLocation="http://localhost:55278/ExpenseService.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExpenseService_SubmitReport_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFIntegration.DataContracts" name="ExpenseReport" element="q1:ExpenseReport" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SubmitReport_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCFIntegration.DataContracts" name="ExpenseReportConfirmation" element="q2:ExpenseReportConfirmation" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SubmitReport_ReportSubmissionFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WCFIntegration.DataContracts" name="detail" element="q3:ReportSubmissionFault" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SubmitManagerResponse_InputMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WCFIntegration.DataContracts" name="ManagerResponse" element="q4:ManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SubmitManagerResponse_OutputMessage" />
  <wsdl:portType name="IExpenseService">
    <wsdl:operation name="SubmitReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/SubmitReport" message="tns:IExpenseService_SubmitReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/SubmitReportResponse" message="tns:IExpenseService_SubmitReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExpenseService/SubmitReportReportSubmissionFaultFault" name="ReportSubmissionFaultFault" message="tns:IExpenseService_SubmitReport_ReportSubmissionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitManagerResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/SubmitManagerResponse" message="tns:IExpenseService_SubmitManagerResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/SubmitManagerResponseResponse" message="tns:IExpenseService_SubmitManagerResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpContextBinding_IExpenseService" type="tns:IExpenseService">
    <wsp:PolicyReference URI="#BasicHttpContextBinding_IExpenseService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitReport">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/SubmitReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReportSubmissionFaultFault">
        <soap:fault use="literal" name="ReportSubmissionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitManagerResponse">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/SubmitManagerResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseService">
    <wsdl:port name="BasicHttpContextBinding_IExpenseService" binding="tns:BasicHttpContextBinding_IExpenseService">
      <soap:address location="http://localhost:55278/ExpenseService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>